# Ignore Visual Studio folders
.vs/
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore build results
*.dll
*.exe
*.log
*.pdb
*.cache

# Ignore NuGet stuff
packages/
project.lock.json
project.assets.json

# Others
*.tmp
*.bak
